<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :movie_titulo %>
  </div>

  <div class="field">
    <%= form.label :ano_estreia %>
    <%= form.datetime_select :ano_estreia, id: :movie_ano_estreia %>
  </div>

  <div class="field">
    <%= form.label :duracao %>
    <%= form.number_field :duracao, id: :movie_duracao %>
  </div>

  <div class="field">
    <%= form.label :trailer %>
    <%= form.text_field :trailer, id: :movie_trailer %>
  </div>

  <div class="field">
    <%= form.label :pais_origem %>
    <%= form.text_field :pais_origem, id: :movie_pais_origem %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
