<p id="notice"><%= notice %></p>
<div class="container">
<%= image_tag(@movie.image_url, size: "599x299") %>

<table class="table" vocab="http://schema.org/" typeof="Movie">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Ano estreia</th>
      <th>Duracao(min)</th>
      <th>Trailer</th>
      <th>Pais origem</th>
      <th colspan="3"></th>
    </tr>
 </thead>
 <tbody>
   <tr>
    <td><p property="name"><%= @movie.titulo %></p></td> 
    <td><p property="datePublished"><%= @movie.ano_estreia %></p></td>  
    <td><p property="duration"><%= @movie.duracao %></p></td> 
    <td><p property="trailer"><%= @movie.trailer %></p></td> 
    <td><p property="countryOfOrigin"><%= @movie.pais_origem %></p></td> 
   </tr>

 </tbody>



<table class="table" vocab="http://schema.org/" typeof="Person">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Bibliografia</th>
      <th>Data Nascimento</th>
      <th>Site Oficial</th>
      <th colspan="3"></th>
    </tr>
  </thead>


 
<h1 class="text-center" property="name">Elenco: <%= @movie.titulo  %></h1>
<%= image_tag("http://www.afronte.com.br/wp-content/uploads/2014/12/img-esquadrao-suicida-elenco-01.jpg", size: "799x99") %>   
 
<tbody>
<% @movie.actors.each do |actor| %>
      <tr>
        <td><p property="name"><%= actor.nome %></p></td>
        <td><p property="description"><%= actor.bibliografia %></p></td>
        <td><p property="birthDate"><%= actor.datanasc %></p></td>
        <td><p property="url"><%= actor.siteoficial %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if admin_signed_in? %>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<% end %>
<%= link_to 'Voltar', movies_path, :class => "btn btn-success" %>
</div>
