<div class="container">
<h1> Filmes Favoritos </h1>

<h3>Aqui está seus filmes favoritos, <%= current_user.nome %></h3>
</div>

<div class="card-group col-md-12">
  <div class="container">
<% @user.movies.each do |movie| %>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title"> Titulo:  <%= movie.titulo %> </h5>
      <%= image_tag(movie.image_url, size: "599x299") %>
      <p class="card-text"><%= movie.titulo %> foi lançado em <%= movie.ano_estreia %> no pais de origem: <%= movie.pais_origem %>.</p>
      <p class="card-text"> <%= link_to 'Mais Informações', movie, :class => "btn btn-primary" %> </p>
      
      <p class="card-text"><small class="text-muted">Ultima atualização <%= movie.updated_at %></small></p>
      <p><%= button_to 'Remover', {:controller => "movies", :action => "favorite_destroy", :movie => movie}, :class => "btn btn-danger", :method=>:post  %></p>
    </div>
  </div>
<% end %>
</div>
</div>