<p id="notice"><%= notice %></p>

<h1>Usuários no sistema</h1>



<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Data_Criação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nome %></td>
        <td><%= user.email %></td>
        <td><%= user.encrypted_password %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to 'Visualizar', user, :class => "btn btn-success" %></td>
        <td><%= link_to 'Editar', edit_user_path(user), :class => "btn btn-info" %></td>
        <td><%= link_to 'Apagar', user, method: :delete, :class => "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


